body {
  background-color: #f5f4f0;
}

#page {
  box-sizing: bo;
  width: 1120px;
  margin: 88px auto 56px;
}

ol {
  padding: 0px;
}

ol h3 li {
  margin: 20px 30px 4px;
}

img {
  width: 100%;
  border-radius: 28px;
}

footer {
  color: #333333;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  max-width: 14px;
  max-height: 12px;
  vertical-align: middle;
}
